<!DOCTYPE HTML>

<html>
    <head>
        <title>Spring Boot - POST-GET AJAX Example</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
    </head>
    <body>

        <div class="container">

            <form th:if="${event}" class="ui form" method="POST" th:object="${event}" th:action="@{__${event.eventId}__}">
                <!--<form th:if="${user}" class="ui form" method="POST" th:object="${user}" th:action="@{/usuario/${user.id}">-->
                <div class="form-group">
                    <label>Nome</label>
                    <input th:field="*{eventName}"type="text" class="form-control" placeholder="Nome" required="required">
                </div>
                <button type="submit" class="btn btn-primary">Alterar</button>
            </form>
            <div th:if="${error}" class="alert alert-danger">

                <a href="#" class="close" data-dismiss="alert"
                   aria-label="close">×</a>
                <strong>Erro:</strong> <span th:text="${error}" />
            </div>
            <!-- Trigger the modal with a button -->
        </div>

        <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </body>
</html>