<!DOCTYPE HTML>

<html>
    <head>
        <title>Spring Boot - POST-GET AJAX Example</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
    </head>
    <body>

        <div class="container">
            <h1>Bootstrap</h1>

            <button type="button" class="btn btn-info btn-lg" id="btnId">Open</button>

            <div th:if="${user}">
                Email: <p th:text="${user.email}"></p>
                Username: <p th:text="${user.username}"></p>
            </div>
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert"
                   aria-label="close">×</a>
                <strong>Success!</strong> It is working as we expected.
            </div>
            <!-- Trigger the modal with a button -->
        </div>

        <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    </body>
</html>