<div id="header" th:frament="header">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Trabalho de LPOO2">
        <meta name="author" content="Adrisson e Janderson">

        <title>Submissão de Artigos</title>

        <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />

    </head>



    <header>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal"><a class="h5" href="/">Submissão de Artigos</a></h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/evento">Eventos</a>
                <a class="p-2 text-dark" href="/submissoes">Submissões</a>
                <a class="p-2 text-dark" href="/usuario/cadastro/logado">Perfil</a>
            </nav>
            <a class="btn btn-outline-primary" href="/logout">Sair</a>
        </div>
    </header>
</div>