<!DOCTYPE html>
<html lang="pt-br">

    <div th:include="fragments/header"></div>

    <main role="main" style="margin-bottom: 100px;">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Página Inicial</h1>
                <p class="lead text-muted">Trabalho de G2 de LPOO2</p>
            </div>
        </section>

        <div class="container">
            <div class="jumbotron">
                <h1>Seus Eventos Cadastrados</h1>
                <a th:href="@{/evento/cadastro}">
                    <button type="submit" class="btn btn-primary">Cadastrar Novo</button>
                </a>
                <div class="table-responsive">
                    <table class="table" id="my-events-table">
                        <thead>
                            <tr>
                                <th>Editar</th>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Data</th>
                                <th>Data Ab. Inscrição</th>
                                <th>Data Enc. Inscrição</th>
                                <th>Usuário</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="jumbotron">
                <h1>Seus Eventos Com Submissões</h1>
                <div class="table-responsive">
                    <table class="table" id="my-submissions-table">
                        <thead>
                            <tr>
                                <th>Editar</th>
                                <th>Id</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <div th:include="fragments/footer"></div>

    <script>
        var evtSource1 = new EventSource("http://localhost:8080/evento/todosByUser");
        evtSource1.onmessage = function (event) {

        var data = JSON.parse(event.data);
        var table = document.getElementById("my-events-table");
        var row = table.insertRow(1);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        var cell6 = row.insertCell(5);
        var cell7 = row.insertCell(6);
        console.log(new String(data.eventId))
        cell1.innerHTML = '<td><a href="http://localhost:8080/evento/' + data.eventId + '">Editar</a></td>';
        cell2.innerHTML = '<td>' + data.eventId + '</td>';
        cell3.innerHTML = '<td>' + data.eventName + '</td>';
        cell4.innerHTML = '<td>' + data.dsEventDate + '</td>';
        cell5.innerHTML = '<td>' + data.dsRegistrationStartDate + '</td>';
        cell6.innerHTML = '<td>' + data.dsRegistrationEndDate + '</td>';
        cell7.innerHTML = '<td>' + data.userCreated + '</td>';

        }
        evtSource1.onerror = function (event) {
        evtSource1.close();
        }
    </script>

    <script>
        var evtSource2 = new EventSource("http://localhost:8080/submissoes/todos");
        evtSource2.onmessage = function (event) {

        var data = JSON.parse(event.data);
        var table = document.getElementById("my-submissions-table");
        var row = table.insertRow(1);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        console.log(new String(data.eventId))
        cell1.innerHTML = '<td><a href="http://localhost:8080/evento/' + data.eventId + '">Editar</a></td>';
        cell2.innerHTML = '<td>' + data.eventId + '</td>';
        cell3.innerHTML = '<td>' + data.eventName + '</td>';

        }
        evtSource2.onerror = function (event) {
        evtSource2.close();
        }
    </script>

</html>