<!DOCTYPE html>
<html lang="pt-br">

    <div th:include="fragments/header"></div>

    <main role="main" style="margin-bottom: 100px;">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Página Inicial</h1>
                <p class="lead text-muted">Trabalho de G2 de LPOO2</p>
            </div>
        </section>

        <div class="container">
            <div class="jumbotron">
                <div class="col-sm-8 mx-auto">
                    <h1>Seus Eventos Criados</h1>
                    <div class="table-responsive">
                        <table class="table" id="users-table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="jumbotron">
                <div class="col-sm-8 mx-auto">
                    <h1>Eventos com Submissões</h1>
                    <div class="table-responsive">
                        <table class="table" id="users-table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:include="fragments/footer"></div>

</html>